body{
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif; 
}

.h2-fs{
    font-size: 60px;
    font-weight: 700;
    color: white;
}

hr{
    width: 40%;
    color: #7d7b8d;
    border: 1px solid;
    margin-bottom: 3rem;
}

